{% extends 'base.html' %}

{% block content %}

<a href="http://127.0.0.1:8000/users/">&laquo; Back</a>

    <h1>[{{ users_id }}] {{ first_name }} {{ last_name }}</h1>    
    e-mail: {{ email }} | gender: {{ gender }} | ip: {{ ip_address }} <br/><br/>

<table id="table" border="2" style="float: left;">
    <caption>{{ user_id }} {{ first_name }} {{ last_name }} statistic</caption>
    <tr>
        {% comment %}<th class="active">user_id</th>{% endcomment %}
        <th class="active">date</th>
        <th class="active">page_views</th>
        <th class="active">clicks</th>
    </tr>
    {% for statistic in statistics %}
        {% if statistic.user_id|slugify == users_id|slugify %}
            <tr>
                {% comment %}<th>{{ statistic.user_id }}</a></th>{% endcomment %}
                <th id="statistic-data">{{ statistic.date }}</th>
                <th id="statistic-page-views">{{ statistic.page_views }}</th>
                <th id="statistic-clicks">{{ statistic.clicks }}</th>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<style>

    .axis path, .axis line {
        fill: none;
        stroke: #333;
    }
    .axis .grid-line {
        stroke: #000;
        stroke-opacity: 0.2;
    }
    .axis text {
        font: 10px Verdana;
    }

</style>
{% include 'links/js-link.html' %} 

{% endblock %}  